/*primer css sign in*/
.fondo-sign{
	background-image: url(../img/bg1.jpg);
	background-size: 100% 100vh;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}

.logo-lyft{
	width: 150px;
	margin-top: 50px;
}

.log-in-buttom{
	background-color: transparent;
	color: #fff;
	width: 100%;
	border: 2px #fff solid;
}

.log-in{
	position: absolute;
	bottom: 20px;
	left: 10px;
}

.sing-up-buttom{
	color: #fff;
	background: linear-gradient(to right, #3F1F62 , #FC1DBD );
	width: 100%;
}
.sing-up-buttom:active{
	color: white;
	background: linear-gradient(to right, #3F1F62 , #FC1DBD );
}


.sing-up{
	position: absolute;
	bottom: 20px;
	right: 10px;
}
/*css registro telefonico*/

.navbar-tel{
	background-color: #fff;
	border-bottom: 1px #ECE9E9 solid;
	width: 100%;
}

.btn-back{
	position: absolute;
	left: 0;
	top: 20px;
}
.titulo-tel{
	font-size: 18px;
	color: #000 !important;
	display: inline-block;
}

.number-chile{
	border-right: 0;
}
.input-celular{
	padding-bottom:10px;
}
.form-control:focus{
	outline: none !important;
	border: 1px solid #CCC;
	
}
/*verifico codigo*/
.in-code{
	width: 10%;
	margin-right: 5px;
	border-bottom: 2px #F1F1F1 solid;
	font-size: 18px;
	padding: 0;
}
.in-code:focus{
	outline: none;
}
.lab-code{
	font-size: 18px;
}

/*pongo codigo*/
.form-control{
	padding:3px 0 0 3px;
}
.btn-next{
	border-radius: 0;
	background-color: deeppink;
	color: white;
	padding: 20px 16px;
	width: 100%;
	border: 0;
	position: absolute;
	bottom: 0;
	left: 0;
}
.in-dates{
	display: inline-block;
	border: 0;
	width: 45%;
	height: auto;
	padding-left: 3px;
}
.in-dates:focus{
	border: 0;
	outline: transparent;
}
.in-date{
	margin-bottom: 10px;
}
.alertas{
	width: 60%;
	padding: 15px;
	word-wrap: break-word;
	white-space: pre-line;
	background-color: #000;
	position: absolute;
	top: 50%;
	left: 19%;
	text-align: center;
	color: white;
	opacity: 0.6;
}
.hiden{
	display: none;
}

/*MAPS*/
#map{
	width: 100%;
	height: 100vh;
}
.logo-negro{
	opacity: 0.6;
	position: absolute;
	top: 20px;
	z-index: 1;
	width: 15%;
	height: auto;
	margin: 0 auto;
	left: 42%;
}
#direction{
	height: auto;
	position: absolute;
	bottom: 35px;
	border-radius: 5px;
	word-wrap: break-word;
	white-space: pre-line;
	text-align: center;
	background-color: #C8C6C6;
	color: #fff;
	text-align: center;
	padding: 10px;
	width: 70%;
	margin: 0 15%;
}
.direction{
	position: absolute;
	bottom: 100px;
	padding: 0;
	width: 70%;
	margin: 0 15%;
}
#usuario{
	width: 15%;
	position: absolute;
	top: 20px;
	z-index: 1;
	border-radius: 50%;
	left: 10%;
	opacity: 0.6;
}
.heart{
	position: absolute;
	top: 20px;
	z-index: 1;
	padding: 10px;
	font-size: 1.3em;
	opacity: 0.6;
	border: 0;
	background-color:#C8C6C6;
	color: #fff;
	border-radius: 50%;
	right: 5%;
}
.cuenta{
	width: 65%;
	height: 100vh;
	background-color: #fff;
	z-index: 2;
	position: absolute;
}
.background: {
	width: 100%;
	height: auto;
	background-size: 100% auto;
}
.circle{
	display: inline-block !important;
}
#perfil{
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
	color: #fff;
}
.lista-opciones{
	box-sizing: border-box;
	padding: 5px 5%;
}
.slide-left{
	display: inline-block !important;
}
.slide-left:hover{
	text-decoration: none;
	color: #DFDBDB;
	background-color:#fff !important;
}
.slide{
	margin-right: 15px;
	padding: 5% 0;
}
.iconos{
	margin-right: 30px;
}
.usuario{
	width: 30%;
}
.fondo-usuario{
	background-color:#FF6BC2;
	padding: 40px 0;
}
.edita{
	padding: 20px 35px;
	font-size: 18px;
}


#usuario-perfil{
	padding: 20px;
	font-size: 30px;
	margin: 0 auto;
}

.desplegable{
	position: absolute;
	top: -25px;
	right: 6px;
	font-size: 26px;
	color: white;
}
.desplegable:focus{
	color: #fff;
}

#buscar{
	height: 44px;
	padding: 0 15px;
}

